// ABOUT2

.about2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: $padding-r-l;

  .short-line2 {
    border-top: 3px solid $rose;
    width: 5%;
  }

  .about2-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    padding-top: 3%;

    .about2-content-inside {
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      h3 {
        padding-bottom: 30px;
      }

      p {
        color: gray;
      }
    }
  }

  // MIXINS
  .eye-com-icon {
    border: 2px solid $rose;
    @include icons;
  }
}

@media (max-width: 768px) {
  .about2 {
    gap: 20px;
    // height: 120vh;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

    p {
      text-align: center;
    }

    h1 {
      font-size: 1.9em;
    }

    .short-line2 {
      width: 50px;
    }

    .about2-content {
      flex-direction: column;
      gap: 20px;
      padding-top: 10px;

      .about2-content-inside {
        width: 100%;
        gap: 10px;

        h3 {
          font-size: 1.3em;
        }

        p {
          color: gray;
        }
      }
    }
  }
}
