// ABOUT1

.about1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding: $padding-r-l;
  background: black;
  color: white;

  > img {
    width: 600px;
  }

  .about1-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .long-line {
      border-top: 3px solid $rose;
      width: 200px;
    }

    .icons-and-titles {
      display: flex;
      flex-direction: row;
      gap: 20px;

      h4 {
        padding-bottom: 10px;
      }
    }
  }
  //MIXINS
  .eye-com-icon {
    background-color: $rose;
    @include icons;
  }
}

@media (max-width: 768px) {
  .about1 {
    padding-top: 30px;
    flex-direction: column;
    gap: 40px;
    padding-right: 40px;
    padding-left: 40px;

    h1 {
      font-size: 1.8em;
    }

    > img {
      width: 200px;
    }

    .about1-content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .long-line {
        width: 100px;
      }

      .icons-and-titles {
        gap: 15px;
      }
    }

    .eye-com-icon {
      width: 50px;
      height: 50px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
