// first-page

.first-page {
  display: flex;
  justify-content: center;
  gap: 5%;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: url(../../images/background.png) rgba(0, 0, 0, 0.5) no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 6% 100px 6% 100px;

  .cheshire-county {
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-between;
    height: 100%;

    img {
      width: 400px;
    }

    h1 {
      width: 60%;
    }

    .short-line {
      border-top: 2px solid white;
      width: 10%;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      width: 95%;
    }

    button {
      width: 150px;
      line-height: 40px;
      background: transparent;
      color: white;
      border-color: white;
      cursor: url(../../images/hand-point-up-solid.svg), pointer;
    }
  }
}

.form {
  width: 35%;
  height: 70%;

  form {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    .h3-grey {
      background: rgba(128, 128, 128, 0.125);
      height: 12%;
      width: 100%;
      text-align: center;

      h3 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.3em;

        span {
          color: $rose;
        }
      }
    }

    .form-input {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 7%;

      p {
        font-weight: bold;
        font-size: 1.2em;
        width: 100%;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15%;
        height: 60%;
        width: 80%;
      }

      .input-details {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          width: 100%;
          height: 40px;
          padding-left: 10px;
          border: none;
          border-bottom: 2px solid gray;
          opacity: 0.3;
        }
      }
    }

    .subscription-type {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;

      input[type="radio"] {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        border: 3px solid $green;
        position: relative;
      }

      input[type="radio"]::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background: $green;
        border-radius: 7px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: scale(0);
        transition: 0.3s;
      }

      input[type="radio"]:checked::before {
        transform: scale(1);
      }
    }

    #get-started {
      justify-self: flex-end;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background: $green;
      width: 100%;
      @include input-button;
    }
  }
}

@media (max-width: 768px) {
  .first-page {
    flex-direction: column;
    // font-size: 0.6em;
    padding: 60px 30px;
    align-items: center;
    height: 126vh;

    img {
      display: none;
    }
    .cheshire-county {
      width: 100%;
      font-size: 0.7em;
      height: 50%;
    }
  }
  .form {
    width: 100%;
    height: 400px;

    form {
      height: 80%;

      .h3-grey {
        h3 {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 1.1em;
        }
      }

      .form-input {
        height: 60%;
        padding-top: 4%;

        p {
          font-size: 0.9em;
        }

        .input-wrapper {
          gap: 10%;
          height: 80%;
        }

        .input-details {
          input {
            height: 40px;
          }
        }
      }

      .subscription-type {
        gap: 10px;
        width: 100%;
        font-size: 0.9em;
      }

      #get-started {
        font-size: 1.2em;
        line-height: 40px;
        padding-bottom: 40px;
        cursor: pointer;
        margin-top: 100px;
      }
    }
  }
}
