//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: black;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 3;
  padding: 0 100px;

  img {
    width: 200px;
    height: 80px;
    position: relative;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;
    z-index: 3;

    button {
      text-decoration: none;
      color: white;
      background: none;
      border: none;
      font-size: 1.2em;
      cursor: url(../../images/hand-point-up-solid.svg), pointer;
      opacity: 69%;
    }

    .active-header-link {
      opacity: 1;
      border-bottom: 4px solid $rose;
    }
  }

  #burger {
    display: none;
  }
}

#side-nav {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 30px;

    .header-nav {
      button:not(:last-child) {
        display: none;
      }
    }

    #burger {
      transition: 0.3s;
      display: inline-block;
    }

    .rotate {
      transform: rotateZ(-90deg);
    }
  }

  #side-nav {
    z-index: 2;
    top: -300px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    transition: 0.3s ease;
    background: rgb(0, 0, 0);
    left: 0;

    button {
      position: relative;
      z-index: 2;
      text-decoration: none;
      color: white;
      background: none;
      border: none;
      font-size: 1.2em;
      cursor: url(../../images/hand-point-up-solid.svg), pointer;
      opacity: 69%;
      height: 50px;
    }
  }

  #side-nav.translate {
    top: 95px;
  }
}
