// TABS

.tabs-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5%;
  background: url(../../images/component.png),
    linear-gradient(90deg, #e2786675 10%, #6695e26b 90%);
  // BACKGROUND OPACITY

  height: 100vh;
  color: white;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: overlay;
  padding-left: 100px;
  padding-right: 100px;

  #tabs-buttons {
    display: flex;
    flex-direction: column;

    gap: 20px;

    button {
      width: 130px;
      height: 130px;
      background-color: #a37169;
      border: none;
      font-weight: bold;
      color: white;
      font-size: 1.1em;
      cursor: url(../../images/hand-point-up-solid.svg), pointer;

      p {
        transform: rotate(-45deg);
        opacity: 0.5;
      }
    }

    .active {
      background-color: #e27866;

      p {
        opacity: 1;
      }
    }
  }

  .tab {
    display: none;

    .tab-allign {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5%;

      .tabs-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          font-size: 1.2em;
        }
      }

      .tabs-images {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .s-img {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
      }

      .img1,
      .img2 {
        width: 220px;
        height: 220px;
        position: relative;
        object-fit: cover;
      }

      .img3 {
        height: 220px;
        width: 460px;
      }
    }
  }

  .block {
    display: block;
  }
}

.s-img1,
.s-img2 {
  height: 220px;
  position: relative;

  .img-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    background-color: rgba($color: #e27866, $alpha: 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url(../../images/hand-point-up-solid.svg), pointer;

    p {
      position: absolute;
      opacity: 1 !important;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  &:hover .img-hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .tabs-content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2%;
    height: 110vh;
    padding: 30px 40px;

    #tabs-buttons {
      flex-direction: row;
      gap: 20px;

      button {
        width: 100px;
        height: 80px;
        font-size: 0.9em;
        cursor: pointer;

        p {
          transform: rotate(0deg);
        }
      }
    }

    .tab {
      display: none;

      .tab-allign {
        flex-direction: column;
        gap: 2%;

        .tabs-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 20px;

          h1 {
            font-size: 1.5em;
          }

          p {
            font-size: 0.9em;
          }
        }

        .tabs-images {
          flex-direction: column;
          gap: 10px;

          .s-img {
            display: flex;
            gap: 10px;
          }
        }

        .img1,
        .img2 {
          width: 150px;
          height: 150px;
          position: relative;
          object-fit: cover;
        }

        .img3 {
          height: 150px;
          width: 310px;
        }
      }
    }
    .block {
      display: block;
    }
  }

  .s-img1,
  .s-img2 {
    height: 150px;

    .img-hover {
      cursor: pointer;
      p {
        font-size: 1.1em;
      }
    }
  }
}
